/* Default Styles */
body {
  text-align: center;
  align-content: center;
  background-size: cover;
  background: linear-gradient(0deg,#ffbdfb, #dbedff, #e8ffee) fixed;
}
button {
  background-color: #62548b;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
li {
  list-style: none;
}

/* Special-Default Styles */
#head-text {
  color: #62548b;
}
#main-menu-text {
  color: #62548b;
}

/* Split Screen */
.rankDisplayContainer {
  height: 100%;
  width: 35%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.gameDisplayContainer {
  height: 100%;
  width: 65%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color: #ffbe28;
}
.right {
  right: 0;
  background-color: rgb(255, 255, 255);
}

/* Rank Display */
#rankBar {
  height: 100%;
  width: 0%;
}
#rankBarContainer {
  border: #966b06 solid 2px;
  background-color: #ddd;
  width: 90%;
  height: 30px;
  margin: 20px auto;
}
#rankEmblum {
  height: 100%;
  width: 100%;
  margin: -10%;
}

/* Battle Types */
.battleContainer {
  width: 60vw;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;
}
.standardBattle, .seriesBattle, .anarchyBattle {
  border: #000000 0.5vw solid;
  font-size: 2vw;
  margin: 10px;
  padding: 10px;
  width: 62.5vw;
  height: 24vw;
}

.standardBattle, .seriesBattle {
  width: 25vw;
  flex: 1;
}

.battleBOX {
    display: flex;
    gap: 0px;
    align-items: stretch;
    flex: 1;
}





