body {
  text-align: center;
  align-content: center;
  background-image: url(https://i2.wp.com/68.media.tumblr.com/3e0ccf796cf8e8dd555c2bccbd5b2842/tumblr_ojy0wjd4DY1v1fssvo1_1280.gif);
  background-size: 30%;
}

#welcome {
  background: linear-gradient(0deg,#ffbdfb, #dbedff, #e8ffee); ;
  text-align: center;
  align-content: center;
  border: black groove 10px;
  height: 450px;
  width: 680px;
  margin: auto;
}
#head-text {
  color: #62548b;
}

#main-menu-text {
  color: #62548b;
}

button {
  background-color: #62548b;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

