body {
  text-align: center;
  align-content: center;
  background-size: cover;
  background: linear-gradient(0deg,#ffbdfb, #dbedff, #e8ffee) fixed;

}

.tab {
  text-align: center;
  align-content: center;
  margin: auto;
  height: 100%;
}

#classes, #explore, #store, #prestige, #stats {
  display: none;
}
#head-text {
  color: #62548b;
}
#main-menu-text {
  color: #62548b;
}
button {
  background-color: #62548b;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
li {
  list-style: none;
}